<section class="feature container">
  <div class="featur__imgs">
    <img src="assets/imgs/i-mac 1.png" alt="" />
  </div>
  <div class="featur__detail">
    <h2 class="featur__title">خدمات تپسی برای کسب کار ها</h2>
    <p class="featur__text">
      پنل سازمانی تپسی یک سامانه تحت وب است که به سادگی امکان درخواست همزمان
      تعدادی نامحدودی خودرو و پیک را برای کسب و کار ها و سازمان ها فراهم میکند
      با استفاده از آن میتوانید ماموریت های درون شهری و ارسال کالا های خود به
      سادگی مدیریت کنید
    </p>
    <button class="btn btn--primaray">ورود و ثبت نام پنل سازمانی</button>
  </div>
</section>
