<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/assets/fonts/Vazirmatn-SemiBold.woff2" />
    <link rel="stylesheet" href="/assets/fonts/Vazirmatn-Thin.woff2" />
    <title>Document</title>
  </head>
  <body>
    <section class="contact-us container">
      <div class="contact-us__social">
        <span class="icon-container">
          <svg class="icon">
            <use href="/assets/imgs/sprit.svg#linkdin" />
          </svg>
        </span>
        <span class="icon-container">
          <svg class="icon">
            <use href="/assets/imgs/sprit.svg#telgram" />
          </svg>
        </span>
        <span class="icon-container">
          <svg class="icon">
            <use href="/assets/imgs/sprit.svg#twiter" />
          </svg>
        </span>
      </div>
      <div class="contact-us__icons">
        <div class="icon-holder">
          <span class="icon-holder__labal">
            زنجان مجتمع آسمان آبی1 بلوک اهورا طبقه10 واحد66</span
          >
          <span class="icon-container">
            <svg class="icon">
              <use href="/assets/imgs/sprit.svg#loction"></use>
            </svg>
          </span>
        </div>
        <div class="icon-holder">
          <span class="icon-holder__labal"> (+98)9336365953</span>
          <span class="icon-container">
            <svg class="icon">
              <use href="/assets/imgs/sprit.svg#call"></use>
            </svg>
          </span>
        </div>
        <div class="icon-holder">
          <span class="icon-holder__labal"> info@navidsoltani31</span>
          <span class="icon-container">
            <svg class="icon">
              <use href="/assets/imgs/sprit.svg#email"></use>
            </svg>
          </span>
        </div>
      </div>
      <div class="contact-us__map">
        <img src="/assets/imgs/map.png" alt="loction map" />
      </div>
      <div class="contact-us__form">
        <div class="form-wrapper">
          <h3>نظرات شما</h3>
          <form>
            <input type="text" placeholder="نام و نام خانوادگی" />
            <input type="email" placeholder="ایمیل خود را وارد کنید" />
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <button type="submit" class="btn btn--primaray">ثبت نظر</button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
